Host loc40
	ProxyJump loc31

Host loc31
	ProxyJump loc20

Host loc30
	ProxyJump loc20

Host loc20
	ProxyJump loc10

Host loc10

Host loc21
	ProxyJump loc10

Host opt_loc
	ProxyJump opt1,opt2

Host opt1
	ProxyJump loc10

Host opt2

Host opt_loc_2
	ProxyJump opt2

#----------------------------#
Host end
	ProxyJump streak1,streak2,streak3,streak4

Host streak3
	ProxyJump opt_loc

